
@{
    ViewBag.Title = "Home";
}

<div class="container shadow mt-4 rounded">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div id="carousalExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/Content/Images/digital-inventary.jpeg" class="d-block w-100" style="height:300px" />
                    </div>
                    <div class="carousel-item active">
                        <img src="~/Content/Images/download (2).png" class="d-block w-100" style="height:300px" />
                    </div>
                    <div class="carousel-item active">
                        <img src="~/Content/Images/OIP (2).jpeg" class="d-block w-100" style="height:300px" />
                    </div>
                </div>
            </div>
            <div class="mt-3 mb-3">
                <h2>E-Bill Applications</h2>
            </div>
        </div>

    </div>

</div>

